<?xml version="1.0"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="CharecterWidth" value="71" />
    <add key="LeftMargin" value="10" />
    <add key="CharecterWidth" value="70" />
    <add key="LeftMargin" value="10" />
    <add key="FrontCharWidth" value="60" />
    <add key="SpaceLeftMargin" value="20" />
    <add key="LabName" value="Madha Pitha Lab"/>
    <add key="HospitalName" value="ST.MARY'S HOSPITAL"/>
    <!--pls do not change this-->
    <add key="Address1" value="Flat No 1, Kovalam Road, Kovalam, Chennai - 603 112"/>
    <add key="Address2" value="GUDNAHALLI ROAD, MALUR-563 130 KOLAR DIST, KARNATAKA STATE"/>
    <add key="Address3" value="Phone : 9565326598   Email : stmaryslabmalur@gmail.com"/>
    <add key="Place" value="Mathagondapalli" />
    <add key="District" value="Kirshnagiri" />
    <add key="State" value="TN" />
    <add key="PinCode" value="603112" />
    <add key="PhoneNo" value="9566891987" />
    <add key="TinNo" value="33506362192" />
    <add key="DLNo" value="694/KPM/20.21" />
    <add key="connectionString" value="server=localhost;database=cis_cus4;uid=root;pwd=root;pooling=false;" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>